* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0 auto;
    padding: 1rem 4rem;
    text-align: center;
    max-width: 100%;
}
header {
    padding-bottom: 2rem;
}
header img {
    width: 12rem;
}
.register-form-wrap,
.login-form-wrap {
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    max-width: 35rem;
}
.add-group-wrapper,
.add-bill-wrapper,
.all-groups-output {
    margin-top: 2rem;
    border-top: 0.1rem solid lightgray;
}
.group,
.bill {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;
    width: 35rem;
}
.group h4 {
    padding-bottom: 1rem;
}
.register-form-wrap h1,
.login-form-wrap h1 {
    text-align: left;
}

button {
    display: inline-block;
}
form {
    text-align: left;
}
input {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}
.button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    padding: 0.5em;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    cursor: pointer;
}
button:hover {
    background-color: #31708e;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #31708e;
}

.back {
    text-align: right;
    padding-top: 2rem;
}
.groups-output,
.available-groups {
    justify-content: flex-start;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.group-wrapper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 12rem;
    padding: 1rem;
    cursor: pointer;
}
.all-group-wrapper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 12rem;
    padding: 0.75rem;
}
.groups-output :hover {
    color: #31708e;
}
.no-groups-message h3 {
    padding-top: 4rem;
    color: gray;
}
.table-wrapper {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}
table {
    width: 75rem;
    text-align: left;
}
th,
td {
    padding: 1rem 1rem;
}
table tr:nth-child(odd) td {
    background: lightgray;
}
table tr:nth-child(even) td {
    background: white;
}
table,
td,
th {
    border-collapse: collapse;
}
